<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>URL-shortener</title>
</head>
<body>
  <div id="app">
    <div class="bg-warning">
      <div class="container">
        <div class="row mb-5">
          <h1 class="col text-light">
            URL-shortener
          </h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <h5>Enter any URL</h5>
          <form class="mb-1" method="post" action="/link/create" @submit.prevent="submit">
            <input v-model="URLInputValue" class="form-control mb-2" type="url" name="link">
            <input class="btn btn-success" :disabled="submitted" type="submit">
          </form>
          <div class="text-danger" v-if="showErr">Field is empty</div>
        </div>
      </div>
      <div v-if="showRes" class="row mb-2">
        <h3 class="col">
          New short link:
        </h3>
      </div>
      <div v-if="showRes" class="row mb-5">
        <div class="col">
          <span>{{ res.URL }}</span> - <a :href="res.shortURL" target="_blank">{{ res.shortURL }}</a>
        </div>
      </div>

      <% if (links) { %>
      <div class="row">
        <h3 class="col">
          My links
        </h3>
      </div>

      <table class="table">

        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Original URL</th>
          <th scope="col">Shorten URL</th>
          <th scope="col">Visits</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i < links.length; i++) { %>
        <tr>
          <th scope="row"><%= i + 1%></th>
          <td><%= links[i].URL %></td>
          <td><a href="<%= links[i].shortURL %>" target="_blank"><%= links[i].shortURL %></a></td>
          <td><%= links[i].visits %></td>
        </tr>
        <% } %>
        </tbody>

      </table>

      <% } %>
    </div>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>